.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/Navelgazing.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: center;
    font-family: "Courier New", monospace;

}
.jumbotron h1 {
    color: #FF6D0A;
    font-weight: bolder;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;

    
}

.jumbotron p {
    color:#FF6D0A;
    text-decoration-color: #FF6D0A;    
    font-weight: bold;

}
.panel-primary > .panel-color {
    background-image: none;
    background-color: #FF6D0A;
    border-bottom: 0;

}
.panel {
    border: 1;
    border-color: #FF6D0A;
}
